.btn-history-filter {
    /* background: var(--jaza-bets-header-bg)!important; */
    color: var(--light);
    font-weight: 600;
    /* text-align: center; */
    padding: 10px 0px;
    letter-spacing: 2px;
    font-size: var(--font-size-large);
}
.modal-backdrop.fade {
    opacity: 0.4!important;
    filter: alpha(opacity=0);
}

.close-history-filter {
    /*margin: auto;*/
    /* width: 15%; */
    padding: 9px;
}
.drag-icon {
    cursor: grab;
    margin-top: -15px;
    padding: 2px 18px;
    -webkit-user-select: none;
    user-select: none;
    background: var(--always-white);
    margin: auto;
    cursor:pointer;
}
@media (max-width:991px){
    .mobile-filter-history{
        justify-content:space-between!important;
    }
}
