
@media (max-width: 1259px){
    .mobile-for-desktop{
        display:block!important
    }
    .date-remove{
        display: none!important;
    }
}

.matches .top-matches .match-detail .all-markets {
    /* background: #2D4352!important; */
    border: none;
    border: 1px solid #16202C!important;
    padding: 8px 3px;
    outline: none;
    border-radius: 19px!important;
    flex-grow: 1;
    width: calc(100% * (1/3) - 10px - 1px);
    margin: 2px;
    display: flex;
    justify-content: space-around;
}
