.font-navigation{
    font-size:22px
}
.top-nav{
    background: var(--jaza-bets-header-bg);
}
.deposit-buttons-value {
    padding: 5px 10px;
    border-radius: 20px;
    box-shadow: unset !important;
    border: thin solid #1D535F;
    background: transparent;
    font-weight: 800;
}
.profile-sidebar {
    top: 0;
    left: 0;
    width: 292px;
    /* border-right: 1px solid rgba(0,0,0,.2); */
    overflow-y: clip;
}

.text-profile {
    font-size: 19px;
    font-weight: 700;
    padding-left: 29px;
}
.flex-container.profile-style {
    margin-top: 0px;
    background: var(--jaza-bets-header-bg);
}
.flex-item-profile {

    display: flex;
    justify-content: space-between;
    /* flex-flow: nowrap; */
    flex-direction: column;
    flex-wrap: nowrap;
    /*background-color: #bbdefb;*/
    height: 100vh;
    padding: 0px 0px;
    gap: 5px;

}
.style-card{
    background: #0c4128;
    width:135px;
    text-align: center;
    border-radius: 5px;
}
.sticky-option {
    position: sticky;
    top: 10rem;
    padding: 4rem;
    background: #1f2f38;
    border-radius: 11px;
    box-shadow: 2px 3px 10px 2px rgba(0,0,0,0.3);
}
.flex-item-profile >div{
    background: var(--jaza-bets-primary);
    /*border: 3px solid #ffcc80;*/
    border-radius: 5px;
    padding: 8px 0px;
    height: max-content;
    /*overflow-y: scroll;*/
}
.item-profile4{
    /* flex:1 1 auto; */
    flex-grow:2;
    align-self:auto;
}
.item-profile5{
    /* flex:1 1 auto; */
    flex-grow:1;
    align-self:auto;
}

.flex-container {

    display: flex;
    justify-content: space-between;
    /* flex-flow: nowrap; */
    flex-wrap: nowrap;
    background-color: var(--jaza-bets-primary);
    height: 100%;
    padding: 15px;
    margin-top:29px;
    gap: 5px;
    flex-grow: 4;
    height: max-content;
}
.item-profile6{
    /* flex:1 1 auto; */
    flex-grow:3;
    align-self:auto;
}

.item-profile1 {
    /* flex:1 1 auto; */
    flex-grow:1;
    align-self:auto;
}

.item-profile2 {
    /* flex:2 1 auto; */
    flex-grow:8;
    /*box-shadow: 0px -1px 16px 6px rgba(0,0,0,0.75);*/
    /*-webkit-box-shadow: 0px -1px 16px 6px rgba(0,0,0,0.75);*/
    /*-moz-box-shadow: 0px -1px 16px 6px rgba(0,0,0,0.75);*/
}
.carousel.slide{
    background: var(--jaza-bets-primary);
}
.item-profile3 {
    /* flex:1 1 auto; */
    flex-grow:1;
}
@media (min-width: 1260px){
    .profile-width-side {
        min-width: 310px!important;
        background: var(--jaza-bets-header-bg)!important;
        padding-left: 0rem;
        margin-top: 0rem;
        padding-left: 1.5rem;
        z-index: 100!important;
        position: fixed!important;
    }
    .banner-profile {
        width: 100vw;
        height: 3vw;
    }
    .banner-info{
        height: 40vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    .user-profile-style {
        width: 348px;
        height: 154px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3rem;
        border: 1px solid yellow;
    }
    .profile-title{
        fontSize:61px;
    }
    .icon-style-profile {
        width: -moz-fit-content;
        width: fit-content;
        position: absolute;
        top: 20rem;
        z-index: 1000;
        left:2rem;
    }


}
@media (max-width: 1259px){
    .item-profile2 {
        width:70%;
    }
    .banner-profile {
        width: 100vw;
        height: 2vw;
    }
    .icon-style-profile {
        width: -moz-fit-content;
        width: fit-content;
        position: absolute;
        top: 12rem;
        z-index: 20000;
        border-bottom: 1px solid yellow;
        left:1rem;
    }
    profile-width-side {
        min-width: 342px!important;
        background: var(--jaza-bets-header-bg)!important;
        padding-left: 0rem;
        margin-top: 11rem;
    }
    .user-profile-style {
        width: 321px;
        height: 154px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3rem;
    }
}
@media (min-width: 1200px) and (max-width: 1240px){
    .item-profile2{
        width: 60%;
    }
}
@media (min-width: 992px) and (max-width: 1165px) {
    .profile-width-side {
        width: 25%!important;
    }
    .banner-profile {
        width: 100vw;
        height: 3vw;
    }
    .item-profile2{
        width: 58%;
    }
    .home-tabs-active {
        padding: 5px;
    }
}
@media (min-width: 992px){
    .mobile-profile-links{
        display:none;
    }
    .icon-size-profile-user{
        height: 11rem;
        width: 20rem!important

    }
    .text-profile-number {
        font-size: 18px;
        border-bottom: 1px solid yellow;
        width: 100%;
    }


    .banner-info {
        height: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    /*.user-profile-style {*/
    /*    width: 128px;*/
    /*    height: 136px;*/
    /*    display: flex;*/
    /*    justify-content: center;*/
    /*    align-items: center;*/
    /*    border-radius: 3rem;*/
    /*}*/

    .profile-title{
        fontSize:61px;
    }

}
@media (max-width: 991px){
    .styling-nav-profile {
        /* border-radius: 6px; */
        background: var(--jaza-bets-header-bg);
    }
    .mobile-profile-links {
        display: flex;
        width: 100%;
        align-items: flex-end;
        justify-content: center;
    }
    .mobile-profile-columns{
        flex-direction: column;
    }
    .icon-size-profile-user{
        height: 3rem;
        width: 3rem!important;

    }
    .banner-profile {
        width: 100vw;
        height: 10vw;
        display: flex;
    }
    .banner-info{
        height: 40vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    .icon-style-profile {
        width: -moz-fit-content;
        width: fit-content;
        position: absolute;
        top: 21rem;
        z-index: 20000;
        left: 33rem;
    }
    .user-profile-style {
        width: 100%;
        height: 31px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3rem;
        background: transparent!important;
    }
    .kiron-test{
        padding-top:0px!important;
        margin-top:0px!important;
    }
    .flex-container{
        flex-direction: column;
    }
    .flex-item-profile{
        width:100vw;
    }
    .flex-item-profile >div{
        background: var(--jaza-bets-header-bg);
        align-items: flex-start;
    }
    .profile-title{
        fontSize:31px;
    }
    .item-profile2 {
        /* flex:2 1 auto; */
        flex-grow: 6;
        width: 100%;
        box-shadow: none;
    }
    .item-profile1{
        display: none;
    }
    .flex-container {
        width: 100%;
        flex-grow: 12;
    }

    .item-profile4{

    }
    /*.item3{*/
    /*    display: none;*/

    /*}*/
    .item6{
        display: none;
    }
}
@media (max-width: 767px){
    .top-nav.top-nav-profile {
        padding-top: 39px;
        min-height: 50px!important;
        margin: auto;
    }
    .deposit-buttons-value{
       font-size: 11px;

    }
    .flex-item-profile >div {
        padding: 0px 0px;


    }
    .banner-profile {
        width: 100vw;
        height: 18vw;
    }
    .icon-style-profile {
        width: -moz-fit-content;
        width: fit-content;
        position: absolute;
        top: 13rem;
        z-index: 20000;
        left: 15rem;
    }
    .user-profile-style {
        width: 100%;
        height: 31px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3rem;
        background: transparent!important;
    }
    .banner-info {
        height: 44vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .item2 {
        /* flex:2 1 auto; */
        flex-grow: 6;
        /*width: 8%;*/
        box-shadow: none;
    }
}
@media  (max-width: 575px){
    .remove-mobile-profile{
        display: none;
    }

    .profile-title{
        fontSize:17px;
    }
    .mobile-profile{
        margin-top:-36px;
    }
    .item2 {
        /* flex:2 1 auto; */
        flex-grow: 6;
        /*width: 8%;*/
        box-shadow: none;
    }

}
@media (max-width:374px){
    .icon-style-profile {
        width: -moz-fit-content;
        width: fit-content;
        position: absolute;
        top: 10rem;
        z-index: 20000;
        left: 10rem;
    }
}


/*sidebar*/
#SideBar {
    /* position: fixed; */
     height: 100vh;
    transition: 300ms width;
    display: flex;
    justify-content: flex-start;
    padding: 4px;
    box-sizing: border-box;
    align-items: center;
    background-color: transparent;
}
#SideBarText
{
    position: relative;
    margin-right: -35px;
    margin-left: -70px;
    left: 43px;
    transition: 300ms;

    transform: rotate(270deg);
    padding: 10px 18px 10px 18px;

    font-size: 24px;
    color: #CCC;
    background-color: #333;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.3);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

#SideBarText:hover
{
    color: #000;
    background-color: #FFBB00;
    cursor: pointer;
}

#SideBarMenu
{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-top:-6rem;
}

#SideBarMenu::-webkit-scrollbar
{
    display: none;
}


.fade-in {
    -webkit-animation: fade-in 4s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite both;
    animation: fade-in 4s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-5-24 13:22:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.profile-img-banner {
    background: url('../../../assets/img/auth/img-17.webp')!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    width: 100vw;
    position: sticky;
    top: 0px;
    z-index: 500;
    max-height: 9rem;
}


