.font-navigation{
    font-size:22px
}
.top-nav{
    background: var(--betnare-header-bg);
}
.flex-item {

    display: flex;
    justify-content: space-between;
    /* flex-flow: nowrap; */
    flex-direction: column;
    flex-wrap: nowrap;
    /*background-color: #bbdefb;*/
    height: 100vh;
    padding: 15px 0px;
    gap: 5px;

}
.style-card{
    background: #0c4128;
    width:135px;
    text-align: center;
    border-radius: 5px;
}
.sticky-option {
    position: sticky;
    top: 10rem;
    padding: 4rem;
    background: #1f2f38;
    border-radius: 11px;
    box-shadow: 2px 3px 10px 2px rgba(0,0,0,0.3);
}
.flex-item >div{
    background: var(--betnare-primary);
    /*border: 3px solid #ffcc80;*/
    border-radius: 5px;
    padding: 8px 0px;
    height: max-content;
    /*overflow-y: scroll;*/
}
.item4{
    /* flex:1 1 auto; */
    flex-grow:2;
    align-self:auto;
}
.item5{
    /* flex:1 1 auto; */
    flex-grow:1;
    align-self:auto;
}

.flex-container {

    display: flex;
    justify-content: space-between;
    /* flex-flow: nowrap; */
    flex-wrap: nowrap;
    background-color: var(--betnare-primary);
    height: 100%;
    padding: 15px;
    margin-top:63px;
    gap: 5px;
    flex-grow: 4;
    height: max-content;
}
.item6{
    /* flex:1 1 auto; */
    flex-grow:3;
    align-self:auto;
}

.item1 {
    /* flex:1 1 auto; */
    flex-grow:1;
    align-self:auto;
}

.item2 {
    /* flex:2 1 auto; */
    flex-grow:3;
    /*box-shadow: 0px -1px 16px 6px rgba(0,0,0,0.75);*/
    /*-webkit-box-shadow: 0px -1px 16px 6px rgba(0,0,0,0.75);*/
    /*-moz-box-shadow: 0px -1px 16px 6px rgba(0,0,0,0.75);*/
}
.carousel.slide{
    background: var(--betnare-primary);
}
.item3 {
    /* flex:1 1 auto; */
    flex-grow:1;
}
@media (min-width: 1260px){
    .item2{
        width:65%;
    }
}
@media (max-width: 1259px){
    .item2 {
        width:70%;
    }
}
@media (min-width: 1200px) and (max-width: 1240px){
    .item2{
        width: 60%;
    }
}
@media (min-width: 992px) and (max-width: 1165px) {
    .item2{
        width: 58%;
    }
    .home-tabs-active {
        padding: 5px;
    }
}
@media (max-width: 991px){
    .kiron-test{
        padding-top:0px!important;
        margin-top:0px!important;
    }
    .flex-container{
        flex-direction: column;
    }
    .flex-item{
        width:100vw;
    }
    .flex-item >div{
        background: var(--betnare-primary);
        align-items: flex-start;
    }
    .item2 {
        /* flex:2 1 auto; */
        flex-grow: 6;
        width: 98%;
        box-shadow: none;
    }
    .item1{
        display: none;
    }
    .flex-container {
        width: 100%;
        flex-grow: 12;
    }

    .item4{

    }
    /*.item3{*/
    /*    display: none;*/

    /*}*/
    .item6{
        display: none;
    }
}
@media (max-width: 767px){
    .item2 {
        /* flex:2 1 auto; */
        flex-grow: 6;
        /*width: 8%;*/
        box-shadow: none;
    }
}
@media  (max-width: 575px){
    .item2 {
        /* flex:2 1 auto; */
        flex-grow: 6;
        /*width: 8%;*/
        box-shadow: none;
    }

}


/*sidebar*/
#SideBar {
    /* position: fixed; */
     height: 100vh;
    transition: 300ms width;
    display: flex;
    justify-content: flex-start;
    padding: 4px;
    box-sizing: border-box;
    align-items: center;
    background-color: transparent;
}
#SideBarText
{
    position: relative;
    margin-right: -35px;
    margin-left: -70px;
    left: 43px;
    transition: 300ms;

    transform: rotate(270deg);
    padding: 10px 18px 10px 18px;

    font-size: 24px;
    color: #CCC;
    background-color: #333;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.3);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

#SideBarText:hover
{
    color: #000;
    background-color: #FFBB00;
    cursor: pointer;
}

#SideBarMenu
{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-top:-6rem;
}

#SideBarMenu::-webkit-scrollbar
{
    display: none;
}

