@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
.lite-version{
    color:#0DCAF0;
    height: 70vh;
    font-size: 8px;
    display: flex;
    align-items: center;
}
.lite-div{
    width:60%;
    font-size: 24px;
    margin: auto;
    word-break: break-word;
    text-decoration: none;
}
/* .app-color{

} */
.lite-top-color {
    border: thin solid var(--BetTena-input);
    color: var(--BetTena-button-login);
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    height: 2.5rem;
}
@media (min-width:992px){
    .color-app-text{
        display:none!important;
    }
    .site-mobile-only{
        display:none!important;
    }
}
@media (max-width:991px){
    .site-mobile-only{
        display: flex!important;
    }
}
