.my-bets-bet-history {
    padding: 10px;
    margin: 5px 10px;
    border: 1px solid var(--bet-history);
    background-color: var(--jaza-bets-header-bg);
    border-radius: 8px;
    line-height: 2;
}
.my-bets-bet-history{
    position:relative;
}
.bet-cashout{
    gap: 1px;
}
.cashout-divider{
    border: 1px solid var(--jaza-bets-header-bg);
}
.type{
    font-weight: var(--font-weight3);
}
.pick-ft{
    font-weight: var(--font-weight3);
}
.result-ft{
    font-weight: var(--font-weight3);
}
.outcome-t{
    font-weight: var(--font-weight3);
}
.bet-history-items{
    color:var(--light);
}
.bet-history-items.id{
    font-weight: 800;
}
.bet-history-items.amount{
    opacity:0.8;
}
.market-h{
    opacity:0.5;
    align-items: initial;
    display: flex;
    justify-content: end;
}
.pick-h {
    opacity: 0.5;
    align-items: initial;
    display: flex;
    justify-content: end;
}
.result-h{
    opacity:0.5;
    align-items: initial;
    display: flex;
    justify-content: end;
}
.outcome-h{
    opacity:0.5;
    align-items: initial;
    display: flex;
    justify-content: end;
}
.bet-history-items.date{
    opacity:0.6;
}
.bet-history-items.status{

}
.bet-history-options {
    border: thin solid var(--bet-history);
    border-radius: 7px;
    box-shadow: 2px 2px 2px 0 var(--bet-history);
    cursor: pointer;
    margin: 14px 9px 12px 0;
    min-height: 40px;
    padding: 4px 0;
    text-align: center;
    line-height:2.1;
    width: inherit;
}
.bet-history-options.progress{
    background: var(--jaza-bets-primary);
    font-size:14px;

}
.progress.bet-history-options{
    position:relative;
}
.bet-history-items.games{

}
/*.pick-h {*/
/*    width: 100px;*/
/*    white-space: nowrap;*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*    text-align: end;*/
/*}*/
.pick-h {
    white-space: normal;
    word-break: break-all;
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*text-align: end;*/
    /*height: max-content;*/
    /*display: flex;*/
}
.text-align-on-mobile-bet-history{
    text-align: center!important;
}
.MuiSwitch-track {
    background: var(--light) !important;
}
.MuiSwitch-colorPrimary.Mui-checked + .MuiSwitch-track {
    background-color: #3f51b5!important;
}
.bet-history-options.progress .progress-bar{
    background: var(--bet-history);
    font-size:14px;
    text-align:center;
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px;
}
.bet-history-items.games {
    /* color: var(--orange); */
    opacity: 0.6;
    font-weight: 800;
    font-size:14px;
}
.sr-bb .sr-lmt-plus__footer-wrapper {
    min-height: 0px;
    position: relative;
}
.details-history-main-container {
    padding: 8px 12px;
    /*border: thin solid;*/
    border-radius: 10px;
    background: var(--jaza-bets-header-bg);
}
.history-details-padding{
    padding-right:1rem;
}
.main-details-info-title{
    font-weight:700;
}
.bet-details.details {
    color: var(--light);
    line-height: 2;
    padding: 5px;
}
.details-info{

}
.details-items{

}
.details-items .team {
    font-weight: 700;
    display: flex;
    align-items: center;
}
.details-items .outcome {
    background: var(--orange);
    padding: 0px 23px;
    border-radius: 4px;
    letter-spacing: 0px;
    margin-left: -20px;
    font-size: 16px;
    font-weight: 600;
    color: var(--dark);
}
.outcome-h.bet-details-data {
    width:82px;
    word-break: break-all;
    white-space: normal;
    /*height: max-content;*/
    /*text-overflow: ellipsis;*/
    /*width: 100px;*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*display: inline-block;*/
    /*display: flex;*/
    /*justify-content: end;*/
}
.history-details{

}
.won-total{
    text-align: center;
}
.won-total-value{
    text-align: center;
}

.history-details .id{
font-weight: 900;
}
.history-details .date{
    opacity:0.6;

}
.details-history {
    padding: 18px;
    /* border: thin solid; */
    border-radius: 10px;
    background: var(--jaza-bets-header-bg);
}
.filter-buttons-bethistory{

}
.filter-buttons-bethistory .filters{
    color:var(--light);
    font-weight: 700;
}
.filter-buttons-bethistory .filters.button-filter {
    padding: 2px 18px;
    border-radius: 18px;
    border: thin solid;
    background: var(--jaza-bets-header-bg);
    display: flex;
    gap: 5px;
    /* line-height: 1; */
    text-align: center;
    display: flex;
    align-items: center;
    min-height: 35px;
}
.history-details .status{

}
@media (min-width:992px){
    .modal-body {
        position: relative;
        padding: 15px;
        max-height: 34rem;
    }
    .drag-icon{
        display:none!important;
    }
    .close-history-filter {
        /* margin: auto; */
        /* width: 15%; */
        padding: 9px;
        right: 0px;
        position: absolute!important;
    }
    .container-history {
        width: 60%;
        margin: auto;
        margin-top: 9rem;
    }
    .back-navigation {
        font-size: 16px;
        color: var(--light) !important;
        opacity:0.5;
        position: fixed;
        top: 18px;
        display: flex;
        gap: 18px;
        z-index: 1000;
        align-items: center;
        justify-content: space-around;
    }
}
@media (max-width:991px){
    .outcome {
        max-height: 18px;
        display: flex;
        align-items: center;
    }
    .details-history-main-container {
        font-size:var(--font-size-small-variation1) !important;

    }
    .details-items .outcome{
        margin-left:-2px!important;
    }
    .bet-details.details{
        line-height: 1.5!important;
    }

    .bet-details.details{
        font-size:var(--font-size-small-variation1) !important;

    }
    .pick-h{
        width: 250px;
    }
    .details-items .team .team-info{
        text-overflow: ellipsis;
        width: 100px;
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;

    }
    .container-history.top-spacing{
        margin-top:3.5rem!important;
    }
    .back-navigation.top-spacing{
        margin-top:3.5rem!important;
    }
    .modal.show .modal-dialog {
        transform: none;
        margin: inherit;
    }
    .bet-history-items.games {

    }
    .container-history{
        width:100%
    }
    .back-navigation {
        font-size: 18px;
        color: var(--light) !important;
        position: absolute;
        top: 25px;
        opacity:0.5;
        display: flex;
        gap: 9px;
        z-index: 1000;
        align-items: center;
        justify-content: flex-start;
        width: auto;
        padding: 0 10px;
    }
}

@media (max-width:575px){
    .pick-h{
        width: 70px;
    }
    .text-align-on-mobile-bet-history{
        /*text-align:end!important;*/
    }
}
