
.flashy{
    opacity: 0;
    animation: flashyShow 2s ease-in-out infinite;
}
@keyframes flashyShow {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
.sport_dropdowns {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.tabcontent{
    display: flex;
    justify-content: center;
    align-items: center;

}