:root {
  /* --jaza-bets-primary: rgba(5, 49, 104, 0.75); */
  --jaza-bets-primary: #0b1620;
  --jaza-bets-secondary: #0b1620;
  --jaza-bets-footer: #0b1620;
  --footer-color: #fff;
  --jaza-bets-button-login: #06fcd3;
  --signup: #ffffff;
  --deposit-c: #12ccc6;
  --side-logo: #0b1620;

  --btn-color-action: #06fcd3;
  --jaza-bets-button-register: #ffffff;
  --banner-background: url(../../assets/img/auth/img-17.webp) !important;
  --jaza-bets-header-bg: #0b1620;
  --jaza-bets-header-bg-btn: #0b1620;
  --jaza-bets-lite: #0b1620;
  --blue: #4096ff;
  --jaza-bets-body-bg: #0b1620;
  --hot: #f66203;
  --withdraw-input: #0e1a07;
  --top-pr: #010f1dc9
  ;
  --jaza-bets-game-play-bg:#010f1dc9;
  --jaza-bets-promo-card: #010f1dc9;
  --login-btn-cl: #06fcd3;
  --link-btn: #fdcb06;
  --card-c: #34363a;
  --bg-cat-1: #2b2930;
  --check-box: #ffaa00;
  --game-title: #fdcb06;
  --side-bg-2: #311c47;
  --text-c: #fdcb06;
  --bg-card-dark: #0b1620;
  --bg-section-container: #041f3d;
  --profile-card: #040b2e;
  --fade-color: #adadad;
  --black: #000;
  --input-bg: #fff;
  --text-color: #ffffffb2;
  --bottom-c: #021830;
  --profile-card-1: #161a2d;
  --purple: rgb(78, 4, 78);
  --crimson: crimson;
  --bs-gutter-x: 20px;
  --bs-cyan: #3f9ad1;
  --kiron-button: #004f9e;
  --profile-bg-page: #07111f;
  --side-bg: #04104c;

  --faded-color: rgb(105, 129, 154);
  --btn-color: #030d41;
  --link-color: #3f9ad1;
  --text-value: #e95e0b;
  --odds-button: #030d41;
  --kiron-odds-button: #e0e0e0;
  /* --text-btn-color:#08306B; */
  --text-btn-color: #fff;
  --text-secondary: #f4bb00;
  --picked: rgb(245, 130, 31);
  --loader: rgb(245, 130, 31);
  --btn-default: rgb(22, 26, 75);
  --banner-color: #f57c00;
  --color-gradient-start: #ffa726;
  --color-gradient-end: #fd8701;
  --color-text: #08306b;
  --header-icon: #06fcd3;
  /* --slip-bg-color-1:#09295a; */
  --slip-bg-color-1: #071f43;
  --slip-bg-color-2: #08306b;
  --bet-history: #1e2b36;
  --icon-size: 13px;
  --validation-fail-color: #c7de6d;
  --font-size-large: 14px;
  --font-size-large1: 16px;
  --fon-size-large-variation1: 13px;
  --fon-size-large-variation2: 15px;
  --fon-size-large-variation2: 16px;
  --font-size-small: 11px;
  --font-size-small-variation1: 12px;
  --font-size-small-variation2: 10px;
  --font-size-small-variation3: 9px;
  --color-link-sports: #ffc428;
  --light2: #a7d1f6;

  --jaza-bets-live: red;
  --slip-separator-color: rgb(51, 76, 92);
  --color-site: #ce3d10;
  --jaza-bets-side-bg: #121a23;
  --betslip-header: #4c372a;
  --betslip-mybets: #cd28ec;
  --mybets-slip: #1e2d3b;
  --button-radius: 3px;
  --jaza-bets-odds-body: #2d3641;
  --jaza-bets-input: #030d41;
  --jaza-bets-shadow-borders: #2c3c44;
  --jaza-bets-font-size-nav: 14px;
  --jaza-bets-font-size-small: 12px;
  --font-size-side: 1.5rem;
  --font-size-side-sm: 1.3rem;
  --body-line-weight: 2;
  --body-line-weight-sm: 1.5;
  --width-side: 18.75rem;
  --width-side-lg: 65.75rem;
  --width-side-sm: 100%;
  --button-color: #334c5c;
  --testimonial-top-md: 9.3rem;
  --font-size-bet-body: 1.4rem;
  --font-size-bet-body-sm: 1.3rem;
  --light: #fff;
  --light-inactive: #585353ff;
  --gold: gold;
  --orange: orange;
  --dark: #000;
  --grey: #adadad;
  --aqua: #adadad;
  --tab-color: #223542;
  --nav-top-color: #f0f0f0;
  --aqua-text: aqua;
  --footer-links: whitesmoke;
  --jackpot-header: #16202c;
  --white: #fff;
  --testimonial: #253743;
  --white-darken: #16202c;
  --more-markets-text: #06fcd3;
  --slip-height: 83vh;
  --light-gray: #23313d;
  --font-small: 11px;
  --red: red;
  --suspended: #3b3b2e;
  --suspended2: #fed80026;
  --suspende2: #1a1a1;
  --close-color: #bb2f2f;
  --tax-info-color: #313c48;
  --share-top: 5.5rem;
  --height-slip-kiron: 17rem;
  --slip-bottom-space: 24rem;
  --slip-bottom: 20.5rem;
  --green: #0f5132;
  --bg-loader: #8b8888;
  --font-weight1: 800;
  --font-weight2: 700;
  --font-weight3: 600;
  --font-weight4: 500;
  --font-weight5: 400;
  --font-weight6: 300;
  --nav-color: #192433;
  --transparent: transparent;
  --app-download-link-color: #440e80;
  --odd-change-position: 7rem;
  --slip-tab: 5.5rem;
  --kiron-competition: #3576b7;
  --top-header-nav: #16202c;
  --side-stats: aqua;
  --betslip-list: rgb(31 54 69);
  --toggle-btn: transparent;
  --slip-message-alert: 9.5rem;
  --alert-slip-color: #c9e0ee;
  --transparent: transparent;
  --lite-top-color: #000;
  --donjo-text: #fdcb06;
  --donjo-button: #fdcb06;
  --picked: #fd8701;
  --orange: orange;
  --secondary: #fdd835;
  --tabs-home: #000;
  --jaza-bets-mobile-nav: #192533;
  --font-tiny: 8px;
  --font-weight-normal: normal;
  --always-white: #fff;
  --viax-betslip-bg: #141c25;
  --box-shadow-sports: 0 0.5rem 0.2rem rgba(0, 0, 0, 0.175);
}
.shadow-sports-header {
  /*box-shadow:var(--box-shadow-sports) !important;*/
}

.light-theme {
  /* light mode variables go here */
  --tabs-home: #fofofo;
  --testimonial: #fofofo;
  --jaza-bets-primary: #f0f0f0;
  --signup: #000;
  --side-logo: #fff;
  --jaza-bets-game-play-bg:#f0f0f0;

  --top-header-nav: #f0f0f0;
  --jaza-bets-promo-card: #fff;

  --footer-color: #05070a;
  --footer-links: #05070a;
  --jaza-bets-secondary: #fff;
  --jaza-bets-button-login: #06fcd3;
  --jaza-bets-footer: #adadad;
  --mybets-slip: #f0f0f0;
  --jackpot-header: #f0f0f0;
  --jaza-bets-button-register: #ffffff;
  --banner-background: url(../../assets/img/auth/img-17.webp) !important;
  --betslip-header: #4c372a;
  --jaza-bets-side-bg: #fff;
  --jaza-bets-header-bg: #f0f0f0;
  --viax-betslip-bg: #fff;
  --betslip-mybets: #fff;
  --button-radius: 3px;
  --jaza-bets-odds-body: #fff;
  --jaza-bets-input: #2c3c44;
  --jaza-bets-shadow-borders: #fff;
  --jaza-bets-font-size-nav: 14px;
  --jaza-bets-font-size-small: 12px;
  --font-size-side: 1.8rem;
  --font-size-side-sm: 1.3rem;
  --body-line-weight: 2;
  --body-line-weight-sm: 1;
  --width-side: 18.75rem;
  --width-side-sm: 14.813rem;
  --button-color: #fff;
  --testimonial-top-md: 10.5rem;
  --font-size-bet-body: 1.4rem;
  --font-size-bet-body-sm: 1.3rem;
  --light: #000;
  --grey: #000;
  --aqua: #adadad;
  --tab-color: #adadad;
  --cancel: #030928;
  --jaza-bets-light-blue: #4f768e;
  --light-blue-variant: #334c5c;
  --secondary: #fdd835;
  --variant2: #1f2f38;
  --dark: #fff;
  --light: #000;

  --nav-top-color: #05070a;
  --aqua-text: #05070a;
  --white-darken: #fafafa;
  --kiron-competition: #fafafa;
  --toggle-btn: #000;
  --picked: #fdd835;
  --jaza-bets-body-bg: #fafafa;
  --top-pr: #e1d1f5;
}
