@media (prefers-color-scheme: light) {
    :root {
        /* Light mode variables go here */
        --betnare-primary:#fff;
        --betnare-secondary: #fff;
        --betnare-button-login: #fff;
        --betnare-button-register: #ffffff;
        --banner-background: url(../../assets/img/auth/img-17.webp)!important;
        --betnare-header-bg:#fff;
        --betnare-side-bg:#fff;
        --betslip-header:#fff;
        --betslip-mybets:#fff;
        --button-radius:3px;
        --betnare-odds-body:#fff;
        --betnare-input:#fff;
        --betnare-shadow-borders:#fff;
        --betnare-font-size-nav:14px;
        --betnare-font-size-small:12px;
        --font-size-side:1.8rem;
        --font-size-side-sm:1.3rem;
        --body-line-weight:2;
        --body-line-weight-sm:1;
        --width-side:18.75rem;
        --width-side-sm:14.813rem;
        --button-color:#fff;
        --testimonial-top-md:10.5rem;
        --font-size-bet-body:1.4rem;
        --font-size-bet-body-sm:1.3rem;
    }
}
.custom-checkbox-input{
    visibility: hidden;
}
/* Fallback for older browsers or manual mode */
.custom-checkbox-input:checked {
    /* light mode variables go here */

    --betnare-primary:#fff;
    --betnare-secondary: #fff;
    --betnare-button-login: #fff;
    --betnare-button-register: #ffffff;
    --banner-background: url(../../assets/img/auth/img-17.webp)!important;
    --betnare-header-bg:#fff;
    --betnare-side-bg:#fff;
    --betslip-header:#fff;
    --betslip-mybets:#fff;
    --button-radius:3px;
    --betnare-odds-body:#fff;
    --betnare-input:#fff;
    --betnare-shadow-borders:#fff;
    --betnare-font-size-nav:14px;
    --betnare-font-size-small:12px;
    --font-size-side:1.8rem;
    --font-size-side-sm:1.3rem;
    --body-line-weight:2;
    --body-line-weight-sm:1;
    --width-side:18.75rem;
    --width-side-sm:14.813rem;
    --button-color:#fff;
    --testimonial-top-md:10.5rem;
    --font-size-bet-body:1.4rem;
    --font-size-bet-body-sm:1.3rem;
}