.movie--isloading {
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 15px;
}
.movie--isloading .loading-content {
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.movie--isloading .loading-content .loading-text-container {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}
.movie--isloading .loading-content .loading-main-text {
    height: 10px;
    width: 65%;
    margin-bottom: 10px;
    background: #ECECEC;
    background-image: linear-gradient(90deg, #ECECEC 0px, #ddd 40px, #ECECEC 80px);
    background-image: -webkit-linear-gradient(left, #ECECEC 0px, #ddd 40px, #ECECEC 80px);
    background-image: -o-linear-gradient(left, #ECECEC 0px, #ddd 40px, #ECECEC 80px);
    background-size: 250px;
    border-radius: 10px;
}
.movie--isloading .loading-content .loading-sub-text {
    height: 10px;
    width: 50%;
    background: #ECECEC;
    background-image: linear-gradient(90deg, #ECECEC 0px, #ddd 40px, #ECECEC 80px);
    background-image: -webkit-linear-gradient(left, #ECECEC 0px, #ddd 40px, #ECECEC 80px);
    background-image: -o-linear-gradient(left, #ECECEC 0px, #ddd 40px, #ECECEC 80px);
    background-size: 250px;
    border-radius: 10px;

}
.movie--isloading .loading-content .loading-btn {
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    width: calc(100% * (1/2));
    text-align: center;
    padding: 8px 0px;
    border: none;
    outline: none;
    background: #2D4352;
    border-radius: 5px;
    height: 50px;
    box-sizing: border-box;
    margin-right: 2px;
    background-image: linear-gradient(left, #2D4352 0px, #ddd 40px, #2D4352 80px);
    background-image: -webkit-linear-gradient(left, #2D4352 0px, #ddd 40px, #2D4352 80px);
    background-image: -o-linear-gradient(left, #2D4352 0px, #ddd 40px, #2D4352 80px);
    background-size: 250px;
    border-radius: 3px;
}
