.text-style-affiliate{
    overflow-wrap: break-word;
    line-height: 1.5;
    font-size:2rem;
    font-weight:400;
    word-spacing: 2px;
}
.position-info {
    position: absolute;
    top: 24rem;
    left: 10rem;
    line-height: 7;
}
.border-header-affiliate{
    border-bottom: 2px solid yellow;
}
.affiliate-info{
    padding: 20px;
}
.affiliate-info-work-container{
    padding: 2rem;
    display: flex;
    justify-content: center;
    opacity: 0.9;
}
.affiliate-info-work-text{
    font-size:1.8rem;
    color:#fff;
    font-weight:400;
    display: flex;
    width: 54%;
    justify-content: center;
    word-spacing: 2px;
    overflow-wrap: break-word;
    text-align: center;
}
.affiliate-cards-container {
    border-top: 2px solid yellow;
    padding: 6rem;
}
.affiliate-info-work-card{
    border-radius:2rem!important;
    background: #fff!important;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    filter: sepia(12%) hue-rotate(26deg) saturate(165%)!important;
    -webkit-filter: sepia(12%) hue-rotate(26deg) saturate(165%);
    -moz-filter: sepia(12%) hue-rotate(26deg) saturate(165%);

}
.affiliate-info-work-card-body{
    padding: 5rem;
    background: #fff;
    height: 30rem;

}
.affiliate-info-work-card-body-text {
    font-size: 1.5rem;
    font-weight: 600;
    opacity: 0.6;
}
.affiliate-info-work-card-body-text-title {
    font-size: 1.9rem;
    font-weight: 800;
    opacity: 0.9;
    white-space: nowrap;
}
.affiliate-about-section{
    background: #d46c14;

}
.affiliate-about-container{
    padding:3rem;

}
.affiliate-about-section.affiliate-commission-section{
    padding:8rem;
}
.affiliate-about-container-element-header {
     color: #fff;
     opacity: 0.9;
     font-weight: 800;
 }
.affiliate-about-container-element-text {
    color: #fff;
    font-size: 1.8rem;
    opacity: 0.7;
    font-weight: 400;
}
.affiliate-about-container-element-text-list::before{
    content: url("https://storage.googleapis.com/nareimages/affiliate/point_ic.png");

}
.affiliate-about-container-element-text-list {
    color: #fff;
    font-size: 1.9rem;
    line-height: 3;
    list-style: none;
    display: flex;
    gap: 14px;
}
.affiliate-about-container-element{

}
.affiliate-about-container-element-banner{
    background: url('https://storage.googleapis.com/nareimages/affiliate/about.png');
    background-repeat: no-repeat;
    height:50vh;
}
.affiliate-info-work-card-body-header{
    height: 51px;
    gap: 15px;
    display: flex;

}
.affiliate-info-work-card.affiliate-featured-cards {
    height: 30rem;
    border-radius: 6px!important;
    overflow-y: hidden;
}
.affiliate-about-container-element-banner-commisions{
    background: url('https://storage.googleapis.com/nareimages/affiliate/commission.png');
    background-repeat: no-repeat;
    height:50vh;
}
.affiliate-container-element-commission{
    margin-top:15rem;
}
.affiliate-payment-section{
    /*background:#ffc107;*/
    padding: 10rem;
    /*box-shadow: 3px 4px 3px 3px rgba(0,0,0,0.75);*/
}
footer.affiliate-footer{
    background: transparent;
    margin-top:0px;
}
.affiliate-form{
    background: url('https://storage.googleapis.com/nareimages/affiliate/contact_bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;

}
.affiliate-payment-img{
    display: flex;
    justify-content: center;
    width: 100%;
}
.footer-custom.affiliate-footer{

}
.back-to-top {
    /* position: absolute; */
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 18px;
}
.affiliate-to-top{
    font-size: 5rem;
    height: 4rem;
    position: fixed;
    top: 70rem;
    color:whitesmoke;
    background: var(--betnare-primary);
    box-shadow: 3px 4px 3px 3px rgba(0,0,0,0.75);

}

@media (min-width:1260px) {
    .affiliate-form-iframe{
        width:1280px;
        height:2100px;
    }
    .affiliate-bg-info{
        width:25%
    }
}
@media (min-width:992px) and (max-width:1259px){
    .affiliate-info-work-card-body {
        padding: 2rem;
        background: #fff;
        height: 30rem;
        overflow-y: hidden;
    }
    .affiliate-form-iframe{
        width:1000px;
        height:2100px;
    }
    .affiliate-bg-info{
        width:35%
    }
    .text-style-affiliate {
        overflow-wrap: break-word;
        line-height: 1.5;
        font-size: 2rem;
        font-weight: 400;
        word-spacing: 2px;
    }
}

@media (min-width:767px) and (max-width:991px){
    .position-info {
        position: absolute;
        top: 24rem;
        left: 10rem;
        line-height: 7;
    }
    .text-style-affiliate {
        overflow-wrap: break-word;
        line-height: 1.5;
        font-size: 2rem;
        font-weight: 400;
        word-spacing: 2px;
    }
    .affiliate-bg-info{
        width:50%
    }
    .affiliate-form-iframe{
        width:700px;
        height:2100px;
    }
    .affiliate-card-small{
        flex-direction: column;
    }
    .card-feature-column{
        flex-direction: column
    }
    .affiliate-height-container-sm{

    }
}
@media (min-width:425px) and (max-width:767px){
    .size-font-user-action{
        font-size:16px!important;
    }
    .affiliate-info-work-card-body-text-title {
        font-size: 1.9rem;
        font-weight: 800;
        opacity: 0.9;
        white-space: nowrap;
    }
    .affiliate-info-work-card-body-text {
        font-size: 1.7rem;
        font-weight: 600;
        opacity: 0.6;
    }
    .affiliate-info-work-card-body {
        padding: 5rem;
        background: #fff;
        height: 30rem;
    }
    .affiliate-about-section.affiliate-commission-section {
        padding: 1rem;
    }
    .affiliate-info-work-container {
        padding: 1rem;
        display: flex;
        justify-content: center;
        opacity: 0.9;
    }
    .position-info {
        position: absolute;
        top: 24rem;
        left: 10rem;
        line-height: 7;
    }
    .text-style-affiliate {
        overflow-wrap: break-word;
        line-height: 1.5;
        font-size: 2rem;
        font-weight: 400;
        word-spacing: 2px;
    }
    .affiliate-bg-info{
        width:75%
    }
    .affiliate-form-iframe{
        width:450px;
        height:2100px;
    }
    .affiliate-card-small{
        flex-direction: column;
    }
    .card-feature-column{
        flex-direction: column
    }
    .affiliate-height-container-sm{

    }
}
@media (max-width:425px) and (min-width:375px){
    .app-navbar .e img {
        max-width: 110px !important;
    }
    .size-font-user-action{
        font-size:14px!important;
    }
    .affiliate-about-section.affiliate-commission-section {
        padding: 2rem;
    }
    .affiliate-info-work-card-body-text {
        font-size: 1.3rem;
        font-weight: 600;
        opacity: 0.6;
    }
    .affiliate-info-work-card-body-text-title {
        font-size: 1.7rem;
        font-weight: 800;
        opacity: 0.9;
        white-space: nowrap;
    }
    .affiliate-info-work-card-body {
        padding: 2rem;
        background: #fff;
        height: 30rem;
    }
    .affiliate-about-section.affiliate-commission-section {
        padding: 1rem;
    }
    .affiliate-info-work-container {
        padding: 1rem;
        display: flex;
        justify-content: center;
        opacity: 0.9;
    }
    .position-info {
        position: absolute;
        top: 13rem;
        left: 10rem;
        line-height: 7;
    }
    .text-style-affiliate {
        overflow-wrap: break-word;
        line-height: 1.5;
        font-size: 2rem;
        font-weight: 400;
        word-spacing: 2px;
    }
    .affiliate-form-iframe {
        width: 375px;
        height: 2100px;
    }
    .affiliate-card-small{
        flex-direction: column;
    }
    .card-feature-column{
        flex-direction: column
    }
    .affiliate-height-container-sm{

    }
    .affiliate-bg-info{
        width:64%
    }
}

@media (max-width:374px) and (min-width:250px){
    .app-navbar .e img {
        max-width: 90px !important;
    }
    .size-font-user-action{
        font-size:12px!important;
    }
    .affiliate-about-section.affiliate-commission-section {
        padding: 2rem;
    }
    .affiliate-info-work-card-body-text {
        font-size: 1.3rem;
        font-weight: 600;
        opacity: 0.6;
    }
    .affiliate-info-work-card-body-text-title {
        font-size: 1rem;
        font-weight: 800;
        opacity: 0.9;
        white-space: nowrap;
    }
    .affiliate-info-work-card-body {
        padding: 2rem;
        background: #fff;
        height: 35rem;
        overflow-y: hidden;
    }
    .affiliate-about-section.affiliate-commission-section {
        padding: 1rem;
    }
    .affiliate-info-work-container {
        padding: 1rem;
        display: flex;
        justify-content: center;
        opacity: 0.9;
    }
    .position-info {
        position: absolute;
        top: 11rem;
        left: 6rem;
        line-height: 7;
    }
    .text-style-affiliate {
        overflow-wrap: break-word;
        line-height: 1.5;
        font-size: 2rem;
        font-weight: 400;
        word-spacing: 2px;
    }

    .affiliate-bg-info{
        width:74%
    }
    .affiliate-form-iframe {
        width: 292px;
        height: 2100px;
    }
    .affiliate-card-small{
        flex-direction: column;
    }
    .card-feature-column{
        flex-direction: column
    }
    .affiliate-height-container-sm{

    }
}
@media (max-width:250px) {
    .app-navbar .e img {
        max-width: 70px !important;
    }
    .size-font-user-action{
        font-size:10px!important;
    }
    .affiliate-about-section.affiliate-commission-section {
        padding: 8rem;
    }
    .affiliate-info-work-card-body-text-title {
        font-size: 0.7rem;
        font-weight: 800;
        opacity: 0.9;
        white-space: nowrap;
    }
    .affiliate-info-work-card-body {
        padding: 1rem;
        background: #fff;
        height: 40rem;
    }
    .affiliate-info-work-container {
        padding: 1rem;
        display: flex;
        justify-content: center;
        opacity: 0.9;
    }
    .position-info {
        position: absolute;
        top: 24rem;
        left: 10rem;
        line-height: 7;
    }
    .text-style-affiliate {
        overflow-wrap: break-word;
        line-height: 1.5;
        font-size: 2rem;
        font-weight: 400;
        word-spacing: 2px;
    }

    .affiliate-bg-info{
        width:100%
    }
    .affiliate-card-small{
        flex-direction: column;
    }
    .card-feature-column{
        flex-direction: column
    }
    .affiliate-form-iframe {
        width: 180px;
        height: 2100px;
    }
    .affiliate-height-container-sm{

    }
}
