.promo-container{
    display:flex!important;
    flex-wrap:wrap!important;
    padding: 0.5rem!important;
    line-height:2;
}
.promo-styling{
    width: 100%;
    background: transparent!important;
}


.promo-inner {
    /* box-shadow: 0px 1px 5px 3px #253743 !important; */
    margin-bottom: 15px !important;
    border-radius: 7px!important;
    border: thin solid #253743;
    /* background-color: #0e131b; */
    padding: 2px;
    color: white;
    position: sticky !important;
    top: 4rem;
    margin-left: 2px;
    outline: none !important;
    min-height: 21rem;
}
.container-profile.text-data-promotions {
    white-space: nowrap;
    overflow: hidden;
    width: 95%;
    text-overflow: ellipsis;
    opacity:0.8;
}
.container-profile{
    display: block;
}
.promo-inner-promo-item{
    box-shadow: none !important;
    margin-bottom: 15px !important;
    border-radius: 7px!important;
    border: thin solid #253743;
    /* background-color: #0e131b; */
    padding: 2px;
    color: white;
    position: sticky !important;
    top: 4rem;
    border:none;
    margin-left: 2px;
    outline: none !important;
    min-height: 25rem;
}
.promotion-header {
    font-size: 16px;
    font-weight: 700;
    opacity: 0.8;
}
.promo-button{
    background: var(--login-btn-cl);
    min-height: 3rem;
    opacity:0.9;
}
.button-promotions{
    background: var(--gold) !important;
    border:thin solid ;
    border-radius: 10px;
    padding: 1px 10px;
    min-width:30px;
    color:var(--dark) !important
}
hr {
    margin-top: 0.5rem;
    margin-bottom: 0px;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
}
.mobile-promo-top{
    margin-top:5rem!important;
}
.desktop-promotions-info{
    max-width:991px;
    margin:auto;
}
.promo-image{
    opacity:0.99;
}
.promo-active-profile {
    border-radius: 10px;
}
@media (max-width: 991px){
    .desktop-only{
        display: none;
    }
    .promo-active-profile {

        max-height: 120px;
        width: 100vw;
    }
    .container-profile.text-data-promotions {
    white-space: normal !important;
}
    .promotions-app-top{
        margin-top:5rem;
    }
    .promo-image {
        min-height: 12rem!important;
    }
    .promo-inner{
        min-height:20rem!important;
    }
}
@media (min-width: 992px){
    .promo-image {
        min-height: 14rem!important;
    }
    .promotions-app-top{
        margin-top:6rem;
    }
    .promo-styling{
        /* width:33% !important */
    }
}