.leaderboard .top {
    display: block;
    padding: 1em 0;
    background:var(--betnare-button-login);
}
.leaderboard .awards .t.p-2 {
    padding-top: .75em;
}
.how_to_play{
    max-width: 991px;
    margin: auto;
    color: var(--light);
}

.leaderboard .awards .t {
    display: table-cell;
    width: 33.33%;
    text-align: center;
    padding: 0 .5em;
    verticaalign: bottom;
}
.leaderboard .awards {
    display: table;
    width: 100%;
    position: relative;
}
.leaderboard .tabs {
    display: table;
    width: 100%;
    margin: 0 auto;
    background: var(--betnare-header-bg);
    border-bottom: #ddd solid 1px;
}
.leaderboard .tabs div.active {
    border-bottom: #9E9E9E solid 2px;
    color: #222;
    font-weight: 500;
}
.leaderboard .tabs a.active, .leaderboard .tabs div.active {
    border-bottom: var(--app-download-link-color) solid 2px;
    color: var(--light);
    font-weight: 500;
}
.leaderboard .tabs div {
    display: table-cell;
    width: 50%;
    padding: 0.75em 0;
    font-size: 1.075em;
    text-align: center;
    color: #888;
}
.leaderboard .logo {
    display: block;
    text-align: center;
}
.leaderboard .title {
    text-align: center;
    margin-top: .35em;
}
.text-medium {
    font-weight: 500;
}
.opacity-75 {
    opacity: .75;
}
.leaderboard .awards {
    display: table;
    width: 100%;
    position: relative;
}
.leaderboard .tabs {
    display: table;
    width: 100%;
    margin: 0 auto;
    background: var(--betnare-header-bg);
    border-bottom: #ddd solid 1px;
}
.leaderboard .list {
    position: relative;
    padding: 1em 0;
    padding-top: 0;
    max-width: 991px;
    margin: auto;
}
.leaderboard .list table {
    position: relative;
    width: 100%;
    border: none;
    display: block;
}
.leaderboard .list table tbody{
    background:var(--betnare-button-register);
}

.leaderboard .list table thead tr th {
    text-align: left;
    border: none;
    border-bottom: #ddd solid 1px;
    background: #f6f7f8;
    color: #888;
    font-weight: 500;
    font-size: .9em;
    padding: .5em .75em;
}
.leaderboard .list table thead tr th:first-child {
    padding-left: 1em;
}
.leaderboard .list table thead tr th:last-child {
    text-align: right;
    padding-right: 1em;
}
.leaderboard .list table tbody tr td:first-child {
    width: 1%;
    padding-left: 1em;
}
.leaderboard .list table tbody tr td {
    border-bottom: #eee solid 1px;
    color: #444;
    padding: .65em .75em;
}
.leaderboard .list table tbody tr td:last-child {
    text-align: right;
    padding-right: 1em;
}
.leaderboard .awards .t.p-3 {
    padding-top: 1.25em;
}
.leaderboard .awards .t.p-2 {
    padding-top: .75em;
}
.l-leaderboard .awards .t.p-3 img, .l-leaderboard .awards .t.p-3 svg {
    width: 50%;
}
.leaderboard .awards .t.p-2 img, .leaderboard .awards .t.p-2 svg {
    width: 55%;
}
.leaderboard .awards .t img, .leaderboard .awards .t svg {
    display: inline-block;
}
.leaderboard .awards .t.p-1 img, .leaderboard .awards .t.p-1 svg {
    width: 60%;
}
.leaderboard .awards .t.p-3 img, .leaderboard .awards .t.p-3 svg {
    width: 50%;
}
@media (min-width:992px){
    .header-leader h2{
        font-size:26px;
    }
    .header-leader h3{
        font-size:24px;
    }
    .logo .aniversary{
        width:20rem
    }

}