

.flex-item-kiron {

    display: flex;
    justify-content: space-between;
    /* flex-flow: nowrap; */
    flex-direction: column;
    flex-wrap: nowrap;
    /*background-color: #bbdefb;*/
    height: 100vh;
    padding: 15px 0px;
    gap: 5px;


}
.flex-item-kiron >div {
    background: var(--betnare-primary);
    /* border: 3px solid #ffcc80; */
    border-radius: 5px;
    padding: 0px 0px;
    height: max-content;
    /* overflow-y: scroll; */
}
.item-kiron4{
    /* flex:1 1 auto; */
    flex-grow:2;
    align-self:auto;
}
.item-kiron5{
    /* flex:1 1 auto; */
    flex-grow:1;
    align-self:auto;
}

.flex-container-kiron {
    display: flex;
    justify-content: space-between;
    /* flex-flow: nowrap; */
    flex-wrap: nowrap;
    background-color: var(--betnare-primary);
    height: 100%;
    padding: 20px 0px 0px 0px;
    margin-top: 63px;
    gap: 5px;
    flex-grow: 4;
    height: max-content;
}
.item-kiron6{
    /* flex:1 1 auto; */
    flex-grow:3;
    align-self:auto;
}

.item-kiron1 {
    /* flex:1 1 auto; */
    flex-grow:1;
    align-self:auto;
}

.item-kiron2 {
    /* flex:2 1 auto; */
    flex-grow:3;
    /*box-shadow: 0px -1px 16px 6px rgba(0,0,0,0.75);*/
    /*-webkit-box-shadow: 0px -1px 16px 6px rgba(0,0,0,0.75);*/
    /*-moz-box-shadow: 0px -1px 16px 6px rgba(0,0,0,0.75);*/
}
.carousel.slide{
    background: var(--betnare-primary);
}
.item-kiron3 {
    /* flex:1 1 auto; */
    flex-grow:1;
}
@media (min-width: 1260px){
    .kiron-font-size{
        font-size: 12px;
    }
    .item-kiron2{
        width:65%;
    }
}
@media (max-width: 1259px){
    .item-kiron2 {
        width:70%;
    }
}
@media (min-width: 1200px) and (max-width: 1240px){
    .item-kiron2{
        width: 60%;
    }
}
@media (min-width: 992px) and (max-width: 1165px) {
    .item-kiron2{
        width: 58%;
    }
    .home-tabs-active {
        padding: 5px;
    }
}
@media (max-width: 991px){
    .flex-item-kiron {
        display: flex;
        justify-content: space-between;
        /* flex-flow: nowrap; */
        flex-direction: column;
        flex-wrap: nowrap;
        /* background-color: #bbdefb; */
        height: 100vh;
        padding: 26px 0px;
        gap: 5px;
    }
    .kiron-test{
        padding-top:0px!important;
        margin-top:0px!important;
    }
    .flex-container-kiron{
        flex-direction: column;
    }
    .flex-item-kiron{
        width:100vw;
    }
    .flex-item-kiron >div{
        background: var(--betnare-primary);
        align-items: flex-start;
    }
    .item-kiron2 {
        /* flex:2 1 auto; */
        flex-grow: 6;
        width: 100%;
        box-shadow: none;
    }
    .item-kiron1{
        display: none;
    }
    .flex-container-kiron {
        width: 100%;
        flex-grow: 12;
    }

    .item-kiron4{

    }
    /*.item-kiron3{*/
    /*    display: none;*/

    /*}*/
    .item-kiron6{
        display: none;
    }
}
@media (max-width: 767px){
    .full-screen-mobile-kiron{
        height:100%!important;
    }
    .kiron-bet-history{
        padding: 9px 4px!important;
    }

    .kiron-font-size{
        font-size: 11px;
    }
    .flex-item-kiron >div {

        padding: 4px 0px;

    }
    .item-kiron2 {
        /* flex:2 1 auto; */
        flex-grow: 6;
        /*width: 8%;*/
        box-shadow: none;
    }
}
@media  (max-width: 575px){
    .kiron-period {
        /* padding: 0 0.6em 0 0.6em; */
        padding-top: 0.2px;
        height: 41px!important;
    }
    .kiron-period {
        /* padding: 0 0.6em 0 0.6em; */
        padding-top: 0.2px;
        height: 38px!important;
    }
    .kiron-font-size {
        font-size: 10px;
    }
    .item-kiron2 {
        /* flex:2 1 auto; */
        flex-grow: 6;
        /*width: 8%;*/
        box-shadow: none;
    }

}




