.casino-game-wrapper {
  position: relative;
  display: inline-block;
  /* width: 100%; */
}

.casino-game-wrapper img {
  width: 100%;
  border-radius: 15px !important;

  transition: transform 0.3s ease-in-out;
}

.casino-game-wrapper:hover img {
  transform: scale(1.05);
}

.start-moved {
  margin-left: 4.5rem;
}
/* Floating button style */
.floating-btn {
  position: absolute;
  top: 50%; /* Vertically center */
  left: 0; /* Align to the left of the scroll container */
  transform: translateY(-50%);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: purple;
  /* color: yellow; */
  /* border: 2px solid yellow; */
  padding: 8px 16px;
  font-size: 1.2rem;
  z-index: 100; /* Make sure it stays on top of other content */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.notification-icon-btn {
  background: inherit;
  border: none;
}
/* Custom card styling */
.image-card {
  border-radius: 15px !important; /* Rounded corners */
  border: 2px solid; /* Border with no color specified, inherits color from the parent */
  border-color: inherit; /* Inherits the color of the border from the parent element */
  overflow: hidden; /* Ensures that the rounded border applies correctly */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow */
  background: inherit;
  margin: 2px 2px;
}

.card-img-top {
  width: 100%; /* Ensures the image takes the full width of the card */
  height: auto; /* Maintains the image aspect ratio */
}

/* Category Buttons */
.category-btn {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  gap: 1px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 2px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px;
  border-radius: 40px;
  /* background: rgb(253, 244, 255); */
  color: rgb(217, 70, 239);
}

/* Inactive category style */
.inactive-category {
  border: 2px solid transparent;
}

/* Active category style */
.active-category .overlay-casino {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.casino-game-wrapper:hover .overlay {
  opacity: 1;
}

.overlay-btn {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
}

.overlay-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Mobile Click Support */
.overlay-casino {
  opacity: 1;
  position: absolute;

  z-index: 100;
  top: 35%;
}
@media (min-width: 768px) {
  .overlay-casino {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .overlay-casino {
    opacity: 1;
    flex-direction: column;
    z-index: 100;
    top: 25% !important;
    display: flex;
    align-items: center;
    left: 50%;
    right: 50%;
    gap: 5px;
  }
}

.main-sports-transition-group {
  display: flex;
  overflow-x: auto;
  padding: 0px 10px;
  gap: 16px;
}

.sports-list-item {
  cursor: pointer;
  transition: all 0.2s ease;
}
.btn-primary.active-category {
  background-color: #39036f !important;
  border: #39036f;
}

.sports-list-item.active .sports-list__item__label {
  font-weight: bold;
}
.casino__filters {
  overflow-x: auto;
}
.casino__filters::-webkit-scrollbar {
  display: none;
}
.sports-list__item {
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 50px;
}

.sports-list__item__icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.sports-list__item__label {
  font-size: 14px;
}
.game-title {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100px;
}
.game-title-section {
  background: var(--game-title) !important;
  color: var(--dark);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

/* Wrapper around the image to position the star icon */
.image-wrapper {
  position: relative;
  display: inline-block;
}

/* Positioning the FontAwesome star icon on the top-right corner */
.badge-faster {
  position: absolute;
  top: 0px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.9);
  color: var(--light);
  padding: 4px;
  border-top-right-radius: 23%;
  border-bottom-left-radius: 26%;
  z-index: 10;
  font-size: 14px;
}

.badge-left-1 {
  position: absolute;
  top: 20px;
  left: 5px;
  background-color: rgba(0, 0, 0, 0.9);
  color: var(--light);
  padding: 4px;
  border-top-right-radius: 23%;
  border-bottom-left-radius: 26%;
  z-index: 10;
  font-size: 14px;
}

.badge-left-t {
  position: absolute;
  top: -5px;
  left: 1px;
  color: var(--light);
  padding: 4px;
  border-top-right-radius: 23%;
  border-bottom-left-radius: 26%;
  z-index: 10;
  font-size: 14px;
}

/* Optional: Center the star vertically */
.badge-faster svg {
  vertical-align: middle;
}

.casino-body {
  /* background: var(--bg-section-container) !important; */
  background: var(--bg-section-container) !important;
  padding-bottom: 20px;

  /* font-weight: bold; */
}
.bg-section-header {
  background: var(--bg-card-dark) !important;
}
/* Title Container with Curved Bottom Right */
.title-container {
  width: 55%;
  background-color: var(--bg-section-container);
  padding: 10px 20px;
  border-top-right-radius: 90px 100px;
  border-bottom-right-radius: 24px 0px;
  position: relative;
  display: flex;
  align-items: center;
}

/* Title Text */
.title-text {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

/* More Button */
.more-button {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.section-header-image {
  /* object-fit: cover; Ensures the image covers the entire container */
  z-index: 1; /* Image stays behind the text and button */
  width: 65%;
  filter: opacity(0.5);
}

.more-button {
  right: 0px;
  top: 50%;
}

.bg-section-header {
  position: relative; /* Ensures the content is positioned above the image */
  color: white; /* Adjust text color for visibility */
}

.translate-middle {
  transform: translate(-50%, -50%);
}

.top-50 {
  top: 50%;
}

.start-50 {
  left: 50%;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

button.bt-cat {
  border: none;
}
.inter-font {
  font-family: "Inter", sans-serif;
}
.cat-p {
  background: #1e2d42;
}
.bg-cat-1 {
  background: #1e2d42;
  width: inherit;
  text-align: center;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}
.bg-cat-1.activeBt {
  background: crimson !important;
  width: inherit;
}
.pointer-1 {
  left: 0px;
}
.pointer-2 {
  right: 0px;
}

.search-casino .form-control {
  border-radius: 25px; /* To match pill shape */
}

input.search-cat:focus {
  border: none !important;
}

.search-casino .input-group-text {
  background-color: transparent !important;
  border: 2px solid var(--app-download-link-color) !important;
  border-radius: 15px;
}

.actBtns button {
  opacity: 1;
}

.actBtns button:hover {
  opacity: 0.75; /* Hover effect */
}

.new-alert-badge {
  background-color: red;
  color: white;
  font-size: 10px;
  padding: 2px 4px;
  border-radius: 3px;
  margin-right: 8px;
}

.scrol-cat::-webkit-scrollbar {
  display: none;
}

@media (max-width: 475px) {
  .layout-casino-category {
    position: absolute;
    top: 0rem;
  }
  .casino-category-size {
    height: 3.2rem;
  }
  .casino-category-size .carousel-container {
    height: 17vh !important;
  }
  .casino-carousel-container {
    height: 17vh !important;
  }
}
@media (max-width: 576px) and (min-width: 476px) {
  .layout-casino-category {
    position: absolute;
    top: 4.7rem;
  }
  .casino-category-size {
    height: 8.2rem;
  }
  .carousel-container {
    height: 18vh !important;
  }
  .casino-carousel-container {
    height: 19vh !important;
  }
}

@media (max-width: 767px) and (min-width: 577px) {
  .layout-casino-category {
    position: absolute;
    top: 5rem;
  }
  .casino-category-size {
    height: 8.5rem;
  }
  .carousel-container {
    height: 25vh !important;
  }
  .casino-carousel-container {
    height: 25vh !important;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .layout-casino-category {
    position: absolute;
    top: 0.4rem;
  }
  .casino-category-size {
    height: 3.7rem;
  }
  .carousel-container {
    height: 23vh !important;
  }
  .casino-carousel-container {
    height: 23vh !important;
  }
}

@media (orientation: landscape) and (min-width: 992px) {
  .carousel-container {
    height: 69vh !important;
  }
  .casino-carousel-container {
    height: 45vh !important;
  }
}

@media (orientation: landscape) and (max-width: 767px) {
  .carousel-container {
    height: 40vh !important;
  }
  .casino-carousel-container {
    height: 43vh !important;
  }
}

@media (orientation: landscape) and (min-width: 768px) and (max-width: 991px) {
  .carousel-container {
    height: 47vh !important;
  }
  .casino-carousel-container {
    height: 47vh !important;
  }
}

@media (max-width: 991px) {
  .casino-game-wrapper img {
    min-height: 127px;
    /* height: ; */
  }
  .elongate .casino-game-wrapper img {
    min-height: 127px;
    /* height: -webkit-fill-available; */
  }
  .casino-game-wrapper a span {
    /* height: -webkit-fill-available; */
  }
  .category-pointers {
    top: 50%;
  }
  .title-header {
    left: 22%;
    top: 50%;
  }
}

@media (min-width: 992px) {
  .carousel-container {
    height: 45vh !important;
  }
  .casino-carousel-container {
    height: 29vh !important;
  }

  .layout-casino-category {
    position: absolute;
    top: 0.5rem;
  }
  .casino-category-size {
    height: 5.1rem;
  }
  .title-header {
    left: 15%;
    top: 50%;
  }
  .casino-game-wrapper img {
    min-height: 195px;
    max-height: 220px;
  }

  .casino-game-wrapper a span {
    max-height: 220px;
    width: -webkit-fill-available;
  }

  .elongate .casino-game-wrapper img {
    min-height: 220px;
    max-height: 300px;
  }

  .elongate .casino-game-wrapper a span {
    max-height: 280px;
    width: -webkit-fill-available;
  }

  .category-pointers {
    top: 50%;
  }
}

@media (max-width: 1260px) and (min-width: 1000px) {
  .layout-casino-category {
    position: absolute;
    top: 8.6rem !important;
  }

  .casino-category-size {
    height: 10rem !important;
  }
  .carousel-container {
    height: 71vh !important;
  }
  .casino-carousel-container {
    height: 42vh !important;
  }
}
